{{ define "main" }}
<div class="section">
  <article class="container">
    <header>
      <div class="is-flex is-align-items-flex-start is-flex-direction-row">
        {{ with .Params.featured_image }}
        <figure class="image is-96x96 is-hidden-mobile" style="margin-right: 0.5em;">
          <img alt="{{ . }}" class="is-rounded" src="{{ . }}" />
        </figure>
        {{ end }}
        <div style="min-width:0;">
          <h1 class="title is-1" style="word-break:break-word;">
            {{ .Title }}
          </h1>
          <h6 class="subtitle is-6" style="word-break:break-word;">
            {{ .Summary }}
          </h6>
        </div>
      </div>
      {{ with .Params.featured_image }}
      <figure class="image is-3by2 is-hidden-tablet" style="width: 100%; margin: 1.5em 0;">
        <img alt="{{ . }}" style="width: 100%; height: auto; border-radius: 1em;" src="{{ . }}" />
      </figure>
      {{ end }}
    </header>
    <div style="margin-top: 1em; clear: both;">
      <span class="tag is-primary is-light">{{ .Params.Time }}</span>
      {{ range .Params.Tags }}
      <a class="tag" href="/tags/{{ . }}">{{ . }}</a>
      {{ end }}
    </div>
    <div class="content" style="margin-top: 1em;">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}